In [5]:
import pandas as pd

In [13]:
pd.read_pickle('processed_data/grid_part_1_eval.pkl')

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release
0,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,1,12.0,0
1,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,1,2.0,0
2,HOBBIES_1_010_CA_1_evaluation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,1,0.0,0
3,HOBBIES_1_012_CA_1_evaluation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,1,0.0,0
4,HOBBIES_1_015_CA_1_evaluation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,1,4.0,0
...,...,...,...,...,...,...,...,...,...
47735392,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1969,NaN,0
47735393,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1969,NaN,0
47735394,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1969,NaN,0
47735395,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,1969,NaN,230
47735396,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,1969,NaN,304

In [12]:
pd.read_pickle('processed_data/grid_part_2_eval.pkl')

,id,d,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y
0,HOBBIES_1_008_CA_1_evaluation,d_1,0.459961,0.500000,0.419922,0.019760,0.476318,0.919922,4.0,16,NaN,0.968750,0.949219
1,HOBBIES_1_009_CA_1_evaluation,d_1,1.559570,1.769531,1.559570,0.032745,1.764648,0.881348,2.0,9,NaN,0.885742,0.896484
2,HOBBIES_1_010_CA_1_evaluation,d_1,3.169922,3.169922,2.970703,0.046356,2.980469,1.000000,2.0,20,NaN,1.064453,1.043945
3,HOBBIES_1_012_CA_1_evaluation,d_1,5.980469,6.519531,5.980469,0.115967,6.468750,0.916992,3.0,71,NaN,0.921875,0.958984
4,HOBBIES_1_015_CA_1_evaluation,d_1,0.700195,0.720215,0.680176,0.011337,0.706543,0.972168,3.0,16,NaN,0.990234,1.001953
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47735392,FOODS_3_823_WI_3_evaluation,d_1969,2.980469,2.980469,2.480469,0.171631,2.800781,1.000000,5.0,206,1.0,1.032227,1.022461
47735393,FOODS_3_824_WI_3_evaluation,d_1969,2.480469,2.679688,2.000000,0.253174,2.507812,0.925293,4.0,135,1.0,0.985840,1.112305
47735394,FOODS_3_825_WI_3_evaluation,d_1969,3.980469,4.378906,3.980469,0.188599,4.117188,0.908691,3.0,150,1.0,0.957520,1.000000
47735395,FOODS_3_826_WI_3_evaluation,d_1969,1.280273,1.280273,1.280273,0.000000,1.280273,1.000000,1.0,44,1.0,1.000000,1.000000
47735396,FOODS_3_827_WI_3_evaluation,d_1969,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.0,142,1.0,1.000000,1.000000

In [11]:
pd.read_pickle('processed_data/grid_part_3_eval.pkl')

,id,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end
0,HOBBIES_1_008_CA_1_evaluation,d_1,NaN,NaN,NaN,NaN,0,0,0,29,4,1,0,5,5,1
1,HOBBIES_1_009_CA_1_evaluation,d_1,NaN,NaN,NaN,NaN,0,0,0,29,4,1,0,5,5,1
2,HOBBIES_1_010_CA_1_evaluation,d_1,NaN,NaN,NaN,NaN,0,0,0,29,4,1,0,5,5,1
3,HOBBIES_1_012_CA_1_evaluation,d_1,NaN,NaN,NaN,NaN,0,0,0,29,4,1,0,5,5,1
4,HOBBIES_1_015_CA_1_evaluation,d_1,NaN,NaN,NaN,NaN,0,0,0,29,4,1,0,5,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47735392,FOODS_3_823_WI_3_evaluation,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0,19,24,6,5,3,6,1
47735393,FOODS_3_824_WI_3_evaluation,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0,19,24,6,5,3,6,1
47735394,FOODS_3_825_WI_3_evaluation,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0,19,24,6,5,3,6,1
47735395,FOODS_3_826_WI_3_evaluation,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0,19,24,6,5,3,6,1
47735396,FOODS_3_827_WI_3_evaluation,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0,19,24,6,5,3,6,1

In [14]:
pd.read_pickle('processed_data/lags_df_28_eval.pkl')

,id,d,sales,sales_lag_28,sales_lag_29,sales_lag_30,sales_lag_31,sales_lag_32,sales_lag_33,sales_lag_34,...,rolling_mean_tmp_1_30,rolling_mean_tmp_1_60,rolling_mean_tmp_7_7,rolling_mean_tmp_7_14,rolling_mean_tmp_7_30,rolling_mean_tmp_7_60,rolling_mean_tmp_14_7,rolling_mean_tmp_14_14,rolling_mean_tmp_14_30,rolling_mean_tmp_14_60
0,HOBBIES_1_008_CA_1_evaluation,1,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HOBBIES_1_009_CA_1_evaluation,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HOBBIES_1_010_CA_1_evaluation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HOBBIES_1_012_CA_1_evaluation,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HOBBIES_1_015_CA_1_evaluation,1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47735392,FOODS_3_823_WI_3_evaluation,1969,NaN,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735393,FOODS_3_824_WI_3_evaluation,1969,NaN,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735394,FOODS_3_825_WI_3_evaluation,1969,NaN,2.0,0.0,1.0,0.0,1.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735395,FOODS_3_826_WI_3_evaluation,1969,NaN,0.0,1.0,1.0,1.0,0.0,6.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47735396,FOODS_3_827_WI_3_evaluation,1969,NaN,1.0,5.0,2.0,2.0,0.0,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
pd.read_pickle('processed_data/mean_encoding_df_eval.pkl')

,id,d,enc_state_id_mean,enc_state_id_std,enc_store_id_mean,enc_store_id_std,enc_cat_id_mean,enc_cat_id_std,enc_dept_id_mean,enc_dept_id_std,...,enc_store_id_cat_id_mean,enc_store_id_cat_id_std,enc_store_id_dept_id_mean,enc_store_id_dept_id_std,enc_item_id_mean,enc_item_id_std,enc_item_id_state_id_mean,enc_item_id_state_id_std,enc_item_id_store_id_mean,enc_item_id_store_id_std
0,HOBBIES_1_008_CA_1_evaluation,1,1.576172,4.605469,1.639648,4.476562,0.708984,2.259766,0.865234,2.544922,...,1.004883,3.128906,1.261719,3.548828,4.695312,7.183594,6.589844,8.796875,7.214844,9.101562
1,HOBBIES_1_009_CA_1_evaluation,1,1.576172,4.605469,1.639648,4.476562,0.708984,2.259766,0.865234,2.544922,...,1.004883,3.128906,1.261719,3.548828,0.850098,1.754883,1.133789,2.101562,1.190430,2.019531
2,HOBBIES_1_010_CA_1_evaluation,1,1.576172,4.605469,1.639648,4.476562,0.708984,2.259766,0.865234,2.544922,...,1.004883,3.128906,1.261719,3.548828,0.611328,0.863281,0.562012,0.827637,0.719727,0.922852
3,HOBBIES_1_012_CA_1_evaluation,1,1.576172,4.605469,1.639648,4.476562,0.708984,2.259766,0.865234,2.544922,...,1.004883,3.128906,1.261719,3.548828,0.384766,0.692871,0.427490,0.728027,0.397461,0.652344
4,HOBBIES_1_015_CA_1_evaluation,1,1.576172,4.605469,1.639648,4.476562,0.708984,2.259766,0.865234,2.544922,...,1.004883,3.128906,1.261719,3.548828,4.441406,6.703125,6.960938,8.382812,6.113281,7.390625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47735392,FOODS_3_823_WI_3_evaluation,1969,1.318359,3.939453,1.373047,4.503906,2.109375,5.769531,2.626953,7.058594,...,2.140625,6.164062,2.837891,7.730469,0.846680,1.752930,0.517090,1.074219,0.539062,1.183594
47735393,FOODS_3_824_WI_3_evaluation,1969,1.318359,3.939453,1.373047,4.503906,2.109375,5.769531,2.626953,7.058594,...,2.140625,6.164062,2.837891,7.730469,0.434326,0.947266,0.365967,0.781738,0.377197,0.823242
47735394,FOODS_3_825_WI_3_evaluation,1969,1.318359,3.939453,1.373047,4.503906,2.109375,5.769531,2.626953,7.058594,...,2.140625,6.164062,2.837891,7.730469,0.700684,1.198242,0.614258,1.131836,0.895020,1.388672
47735395,FOODS_3_826_WI_3_evaluation,1969,1.318359,3.939453,1.373047,4.503906,2.109375,5.769531,2.626953,7.058594,...,2.140625,6.164062,2.837891,7.730469,1.108398,1.479492,1.031250,1.586914,0.713867,1.254883
47735396,FOODS_3_827_WI_3_evaluation,1969,1.318359,3.939453,1.373047,4.503906,2.109375,5.769531,2.626953,7.058594,...,2.140625,6.164062,2.837891,7.730469,1.644531,3.115234,2.333984,2.964844,1.713867,1.970703